<a href="https://colab.research.google.com/github/Phunbie/assignments/blob/main/Energy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/00374/energydata_complete.csv'

In [2]:
import pandas as pd

In [3]:
new = pd.read_csv(url)
new

                      date  Appliances  lights  ...  Tdewpoint        rv1        rv2
0      2016-01-11 17:00:00          60      30  ...   5.300000  13.275433  13.275433
1      2016-01-11 17:10:00          60      30  ...   5.200000  18.606195  18.606195
2      2016-01-11 17:20:00          50      30  ...   5.100000  28.642668  28.642668
3      2016-01-11 17:30:00          50      40  ...   5.000000  45.410389  45.410389
4      2016-01-11 17:40:00          60      40  ...   4.900000  10.084097  10.084097
...                    ...         ...     ...  ...        ...        ...        ...
19730  2016-05-27 17:20:00         100       0  ...  13.333333  43.096812  43.096812
19731  2016-05-27 17:30:00          90       0  ...  13.300000  49.282940  49.282940
19732  2016-05-27 17:40:00         270      10  ...  13.266667  29.199117  29.199117
19733  2016-05-27 17:50:00         420      10  ...  13.233333   6.322784   6.322784
19734  2016-05-27 18:00:00         430      10  ...  13.200000  34.118851  34.118851

[19735 rows x 29 columns]

In [4]:
new.describe(include = 'all')

                       date    Appliances  ...           rv1           rv2
count                 19735  19735.000000  ...  19735.000000  19735.000000
unique                19735           NaN  ...           NaN           NaN
top     2016-04-29 04:00:00           NaN  ...           NaN           NaN
freq                      1           NaN  ...           NaN           NaN
mean                    NaN     97.694958  ...     24.988033     24.988033
std                     NaN    102.524891  ...     14.496634     14.496634
min                     NaN     10.000000  ...      0.005322      0.005322
25%                     NaN     50.000000  ...     12.497889     12.497889
50%                     NaN     60.000000  ...     24.897653     24.897653
75%                     NaN    100.000000  ...     37.583769     37.583769
max                     NaN   1080.000000  ...     49.996530     49.996530

[11 rows x 29 columns]

In [5]:
new.drop(['date', 'lights'], axis='columns', inplace=True)
new

       Appliances         T1       RH_1  ...  Tdewpoint        rv1        rv2
0              60  19.890000  47.596667  ...   5.300000  13.275433  13.275433
1              60  19.890000  46.693333  ...   5.200000  18.606195  18.606195
2              50  19.890000  46.300000  ...   5.100000  28.642668  28.642668
3              50  19.890000  46.066667  ...   5.000000  45.410389  45.410389
4              60  19.890000  46.333333  ...   4.900000  10.084097  10.084097
...           ...        ...        ...  ...        ...        ...        ...
19730         100  25.566667  46.560000  ...  13.333333  43.096812  43.096812
19731          90  25.500000  46.500000  ...  13.300000  49.282940  49.282940
19732         270  25.500000  46.596667  ...  13.266667  29.199117  29.199117
19733         420  25.500000  46.990000  ...  13.233333   6.322784   6.322784
19734         430  25.500000  46.600000  ...  13.200000  34.118851  34.118851

[19735 rows x 27 columns]

In [6]:
y = new['Appliances']
y

0         60
1         60
2         50
3         50
4         60
        ...
19730    100
19731     90
19732    270
19733    420
19734    430
Name: Appliances, Length: 19735, dtype: int64

In [7]:
from sklearn.preprocessing import MinMaxScaler

In [8]:
scaler = MinMaxScaler()

In [9]:
new_df = pd.DataFrame(scaler.fit_transform(new), columns = new.columns)

In [10]:
X = new_df.drop('Appliances', axis='columns')
X

             T1      RH_1        T2  ...  Tdewpoint       rv1       rv2
0      0.327350  0.566187  0.225345  ...   0.538462  0.265449  0.265449
1      0.327350  0.541326  0.225345  ...   0.533937  0.372083  0.372083
2      0.327350  0.530502  0.225345  ...   0.529412  0.572848  0.572848
3      0.327350  0.524080  0.225345  ...   0.524887  0.908261  0.908261
4      0.327350  0.531419  0.225345  ...   0.520362  0.201611  0.201611
...         ...       ...       ...  ...        ...       ...       ...
19730  0.926786  0.537657  0.711655  ...   0.901961  0.861981  0.861981
19731  0.919747  0.536006  0.701769  ...   0.900452  0.985726  0.985726
19732  0.919747  0.538666  0.692651  ...   0.898944  0.583979  0.583979
19733  0.919747  0.549491  0.677054  ...   0.897436  0.126371  0.126371
19734  0.919747  0.538758  0.666171  ...   0.895928  0.682391  0.682391

[19735 rows x 26 columns]

importing necessary library

In [11]:
from sklearn.metrics import  mean_squared_error
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import r2_score
from sklearn.linear_model import Lasso
from sklearn.linear_model import Ridge
import numpy as np

In [12]:
def get_weights_df(model, feat, col_name):
  weights = pd.Series(model.coef_, feat.columns).sort_values()
  weights_df = pd.DataFrame(weights).reset_index()
  weights_df.columns = ['Features', col_name]
  weights_df[col_name].round(3)
  return weights_df

From the dataset, fit a linear model on the relationship between the temperature in the living room in Celsius (x = T2) and the temperature outside the building (y = T6). What is the R^2 value in two D.P?

In [13]:
x2 = np.array( X.T2).reshape((-1, 1))
y2 = np.array(X.T6)
model2 = LinearRegression()
model2.fit(x2,y2)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [14]:
pred2 = model2.predict(x2)

In [15]:
r2_score = r2_score(y2, pred2)
round(r2_score, 2)

0.64

What is the Mean Absolute Error (in two decimal places)?

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
x_train,x_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state = 42)

In [18]:
model = LinearRegression()

In [19]:
model.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [20]:
pred = model.predict(x_test)

In [21]:
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_test, pred)
round(mae, 2)

53.64

What is the Residual Sum of Squares (in two decimal places)?

In [22]:
rss = np.sum(np.square(y_test - pred))
round(rss, 3)

51918501.212

What is the Root Mean Squared Error (in three decimal places)?

In [23]:
rmse = np.sqrt(mean_squared_error(y_test, pred))
round(rmse, 3)

93.64

What is the Coefficient of Determination (in two decimal places)? it is the same as r2_score

In [24]:
from sklearn.metrics import r2_score
r2_score = r2_score(y_test, pred)
round(r2_score, 2)

0.15

Obtain the feature weights from your linear model above. Which features have the lowest and highest weights respectively?

In [25]:
linear_model_weights = get_weights_df(model, x_train, 'Linear_Model_Weight')
linear_model_weights

       Features  Linear_Model_Weight
0          RH_2          -488.666805
1         T_out          -344.389845
2            T2          -252.710373
3            T9          -203.236627
4          RH_8          -168.627161
5        RH_out           -83.107599
6          RH_7           -47.736592
7          RH_9           -42.586339
8            T5           -16.752822
9            T1            -3.510725
10          rv1             0.824005
11          rv2             0.824005
12  Press_mm_hg             7.318079
13           T7            11.041091
14   Visibility            13.168072
15         RH_5            17.126194
16         RH_4            28.232781
17           T4            31.009668
18    Windspeed            31.225948
19         RH_6            40.712058
20         RH_3           102.771652
21           T8           109.134698
22    Tdewpoint           126.000776
23           T6           252.974652
24           T3           310.971037
25         RH_1           592.294862

Train a lasso regression model with an alpha value of 0.001 and obtain the new feature weights with it. How many of the features have non-zero feature weights? ans 26

In [26]:
lasso_reg = Lasso(alpha=0.001)
lasso_reg.fit(x_train, y_train)

Lasso(alpha=0.001, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False)

In [27]:
lasso_weights_df = get_weights_df(lasso_reg, x_train, 'Lasso_weight')
lasso_weights_df

       Features  Lasso_weight
0          RH_2 -4.845653e+02
1         T_out -3.325717e+02
2            T2 -2.494688e+02
3            T9 -2.025025e+02
4          RH_8 -1.686955e+02
5        RH_out -7.800039e+01
6          RH_7 -4.738909e+01
7          RH_9 -4.245510e+01
8            T5 -1.711872e+01
9            T1 -4.147124e+00
10          rv2  3.290398e-15
11          rv1  1.631174e+00
12  Press_mm_hg  7.282154e+00
13           T7  1.034681e+01
14   Visibility  1.307832e+01
15         RH_5  1.710332e+01
16         RH_4  2.744590e+01
17           T4  3.034520e+01
18    Windspeed  3.138951e+01
19         RH_6  4.009288e+01
20         RH_3  1.022046e+02
21           T8  1.088834e+02
22    Tdewpoint  1.185980e+02
23           T6  2.500810e+02
24           T3  3.102104e+02
25         RH_1  5.905998e+02

What is the new RMSE with the Lasso Regression (in 3 decimal places)?

In [28]:
laspred = lasso_reg.predict(x_test)

In [29]:
rmsel = np.sqrt(mean_squared_error(y_test, laspred))
round(rmsel, 3)

93.641