<a href="https://colab.research.google.com/github/Phunbie/assignments/blob/main/Energy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/00374/energydata_complete.csv'

In [18]:
import pandas as pd

In [19]:
new = pd.read_csv(url)
new

                      date  Appliances  lights  ...  Tdewpoint        rv1        rv2
0      2016-01-11 17:00:00          60      30  ...   5.300000  13.275433  13.275433
1      2016-01-11 17:10:00          60      30  ...   5.200000  18.606195  18.606195
2      2016-01-11 17:20:00          50      30  ...   5.100000  28.642668  28.642668
3      2016-01-11 17:30:00          50      40  ...   5.000000  45.410389  45.410389
4      2016-01-11 17:40:00          60      40  ...   4.900000  10.084097  10.084097
...                    ...         ...     ...  ...        ...        ...        ...
19730  2016-05-27 17:20:00         100       0  ...  13.333333  43.096812  43.096812
19731  2016-05-27 17:30:00          90       0  ...  13.300000  49.282940  49.282940
19732  2016-05-27 17:40:00         270      10  ...  13.266667  29.199117  29.199117
19733  2016-05-27 17:50:00         420      10  ...  13.233333   6.322784   6.322784
19734  2016-05-27 18:00:00         430      10  ...  13.200000  34.118851  34.118851

[19735 rows x 29 columns]

In [20]:
new.describe(include = 'all')

                       date    Appliances  ...           rv1           rv2
count                 19735  19735.000000  ...  19735.000000  19735.000000
unique                19735           NaN  ...           NaN           NaN
top     2016-03-23 15:40:00           NaN  ...           NaN           NaN
freq                      1           NaN  ...           NaN           NaN
mean                    NaN     97.694958  ...     24.988033     24.988033
std                     NaN    102.524891  ...     14.496634     14.496634
min                     NaN     10.000000  ...      0.005322      0.005322
25%                     NaN     50.000000  ...     12.497889     12.497889
50%                     NaN     60.000000  ...     24.897653     24.897653
75%                     NaN    100.000000  ...     37.583769     37.583769
max                     NaN   1080.000000  ...     49.996530     49.996530

[11 rows x 29 columns]

In [21]:
new.isna().sum()

date           0
Appliances     0
lights         0
T1             0
RH_1           0
T2             0
RH_2           0
T3             0
RH_3           0
T4             0
RH_4           0
T5             0
RH_5           0
T6             0
RH_6           0
T7             0
RH_7           0
T8             0
RH_8           0
T9             0
RH_9           0
T_out          0
Press_mm_hg    0
RH_out         0
Windspeed      0
Visibility     0
Tdewpoint      0
rv1            0
rv2            0
dtype: int64

In [22]:
new.drop(['date', 'lights'], axis='columns', inplace=True)
new

       Appliances         T1       RH_1  ...  Tdewpoint        rv1        rv2
0              60  19.890000  47.596667  ...   5.300000  13.275433  13.275433
1              60  19.890000  46.693333  ...   5.200000  18.606195  18.606195
2              50  19.890000  46.300000  ...   5.100000  28.642668  28.642668
3              50  19.890000  46.066667  ...   5.000000  45.410389  45.410389
4              60  19.890000  46.333333  ...   4.900000  10.084097  10.084097
...           ...        ...        ...  ...        ...        ...        ...
19730         100  25.566667  46.560000  ...  13.333333  43.096812  43.096812
19731          90  25.500000  46.500000  ...  13.300000  49.282940  49.282940
19732         270  25.500000  46.596667  ...  13.266667  29.199117  29.199117
19733         420  25.500000  46.990000  ...  13.233333   6.322784   6.322784
19734         430  25.500000  46.600000  ...  13.200000  34.118851  34.118851

[19735 rows x 27 columns]

In [23]:
from sklearn.preprocessing import MinMaxScaler

In [24]:
scaler = MinMaxScaler()

In [25]:
new_df = pd.DataFrame(scaler.fit_transform(new), columns = new.columns)

In [26]:
y = new_df['Appliances']
y

0        0.046729
1        0.046729
2        0.037383
3        0.037383
4        0.046729
           ...
19730    0.084112
19731    0.074766
19732    0.242991
19733    0.383178
19734    0.392523
Name: Appliances, Length: 19735, dtype: float64

In [27]:
X = new_df.drop('Appliances', axis='columns')
X

             T1      RH_1        T2  ...  Tdewpoint       rv1       rv2
0      0.327350  0.566187  0.225345  ...   0.538462  0.265449  0.265449
1      0.327350  0.541326  0.225345  ...   0.533937  0.372083  0.372083
2      0.327350  0.530502  0.225345  ...   0.529412  0.572848  0.572848
3      0.327350  0.524080  0.225345  ...   0.524887  0.908261  0.908261
4      0.327350  0.531419  0.225345  ...   0.520362  0.201611  0.201611
...         ...       ...       ...  ...        ...       ...       ...
19730  0.926786  0.537657  0.711655  ...   0.901961  0.861981  0.861981
19731  0.919747  0.536006  0.701769  ...   0.900452  0.985726  0.985726
19732  0.919747  0.538666  0.692651  ...   0.898944  0.583979  0.583979
19733  0.919747  0.549491  0.677054  ...   0.897436  0.126371  0.126371
19734  0.919747  0.538758  0.666171  ...   0.895928  0.682391  0.682391

[19735 rows x 26 columns]

In [28]:
from sklearn.model_selection import train_test_split

In [29]:
x_train,x_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state = 42)

In [30]:
from sklearn.linear_model import LinearRegression

In [31]:
model = LinearRegression()

In [32]:
model.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [33]:
pred = model.predict(x_test)